<header class="site-header">
  <nav class="navbar site-navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand" title="jetbundle - Home">jetbundle</a>
      <div class="navbar-menu">
        <a href="/principal" class="navbar-link" title="About">About</a>
        <a href="/resources" class="navbar-link" title="Resources">Resources</a>
        <a href="/blog" class="navbar-link" title="Blog">Blog</a>
        <a href="/community" class="navbar-link" title="Community">Community</a>
      </div>
    </div>
  </nav>
</header>
